/* .headerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-top: 1px solid rgb(71, 85, 105);
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  border: 1px solid red;
} */

.navbarContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: 1px solid green;
}

.navList {
  display: flex;
  gap: 1.5rem;
}

.navLinks {
  display: inline-flex;
  min-height: 2.75rem;
  /* border-width: 1px; */
  align-items: center;
}

.navbarWrapper {
  border: 1px solid lightcoral;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1152px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  font-weight: 500;
  color: white;
}
@media (min-width: 768px) {
  .footerSection {
    flex-direction: row;
  }

  .navbarContainer {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .navbarWrapper {
    flex-direction: row;
    align-items: center;
  }
}
